/* Background color */

body {
    background-color: #171717;
}


/* Specifying fonts for headers and body text */

h1,
h2,
h3,
h4,
h6 {
    font-family: 'Dosis', sans-serif;
    color: #fff;
    text-transform: uppercase;
}

h5 {
    padding-top: 15px;
    font-family: 'Dosis', sans-serif;
    color: #fff;
    text-transform: uppercase;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
    color: #b9b8b8;
}

a {
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff !important;
    text-decoration: none !important;
    color: inherit;
}

a:hover {
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff !important;
    text-decoration: none !important;
    color: inherit;
}

label {
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
}

input {
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
}

.blockquote-footer {
    font-family: 'Roboto Condensed', sans-serif;
    color: #b9b8b8;
}

footer {
    font-family: 'Roboto Condensed', sans-serif;
    color: #b9b8b8;
}

small {
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
}

hr {
    background-color: #C72606;
}

.form-control {
    background-color: #2B2B2B;
    color: #fff;
    border: none;
}


/* Navbar styling*/

.navbar {
    background-color: #111111 !important;
}

.navbar .navbar-nav li a {
    color: #fff !important;
    padding-right: 30px !important;
    padding-left: 30px !important;
    text-transform: uppercase;
}

.navbar .nav-item .dropdown-menu {
    background-color: #111111 !important;
}

.navbar .nav-item .dropdown-menu .dropdown-item {
    color: #fff !important;
}

.navbar .nav-item .dropdown-menu .dropdown-item:hover {
    color: #C72606 !important;
    background-color: transparent;
}

.navbar .navbar-brand {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    text-shadow: #000;
}


/* Styling elements */

.card {
    background-color: transparent !important;
}

.card-header {
    background-color: #111111 !important;
}

.card-body {
    background-color: #111111 !important;
}

.card-img-top {
    box-shadow: #ffffff5b 0px 0px 25px;
}

.card-dark {
    background-color: #171717 !important;
    border-color: #fff;
}

.list-group-item {
    background-color: #2B2B2B !important;
}

.btn-secondary {
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    background-color: #C72606 !important;
    border: none !important;
}

.modal-content {
    background-color: #171717 !important;
}

.alert {
    background-color: #161616 !important;
    border-color: #4c4c4c !important;
}

.alert-heading {
    color: #fff;
}

.form-box {
    padding-left: 1.25rem !important;
}

input[type=text]:disabled {
    background: #2B2B2B;
}

.form-body {
    padding-left: 0 !important;
}

.list-group-item {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
}

td {
    word-wrap: break-word;
    color: #fff;
}

th {
    color: #fff;
}

select {
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    background-color: #C72606 !important;
    border: none !important;
    text-transform: uppercase;
    font-size: 24;
    padding: 5px;
}

.hideOverflow {
    max-width: 10px;
    overflow: hidden;
}